In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("LabelEncoding.csv")
df

        car model  mileage  age  sell price
0          BMW X5    69000    6       18000
1          BMW X5    35000    3       34000
2          BMW X5    57000    5       26100
3          BMW X5    22500    2       40000
4          BMW X5    46000    4       31500
5            Audi    59000    5       29400
6            Audi    52000    5       32000
7            Audi    72000    6       19300
8            Audi    91000    8       12000
9   Mercedez Benz    67000    6       22000
10  Mercedez Benz    83000    7       20000
11  Mercedez Benz    79000    7       21000
12  Mercedez Benz    59000    5       33000

In [21]:
features = df.iloc[:,:3].values
label = df.iloc[:,3]

In [23]:
features

array([['BMW X5', 69000, 6],
       ['BMW X5', 35000, 3],
       ['BMW X5', 57000, 5],
       ['BMW X5', 22500, 2],
       ['BMW X5', 46000, 4],
       ['Audi', 59000, 5],
       ['Audi', 52000, 5],
       ['Audi', 72000, 6],
       ['Audi', 91000, 8],
       ['Mercedez Benz', 67000, 6],
       ['Mercedez Benz', 83000, 7],
       ['Mercedez Benz', 79000, 7],
       ['Mercedez Benz', 59000, 5]], dtype=object)

In [24]:
label.head()

0    18000
1    34000
2    26100
3    40000
4    31500
Name: sell price, dtype: int64

# data preprocessing

In [25]:
one_hot_encoder = OneHotEncoder(categories=[0])

In [26]:
new_features = features.copy()
new_features

array([['BMW X5', 69000, 6],
       ['BMW X5', 35000, 3],
       ['BMW X5', 57000, 5],
       ['BMW X5', 22500, 2],
       ['BMW X5', 46000, 4],
       ['Audi', 59000, 5],
       ['Audi', 52000, 5],
       ['Audi', 72000, 6],
       ['Audi', 91000, 8],
       ['Mercedez Benz', 67000, 6],
       ['Mercedez Benz', 83000, 7],
       ['Mercedez Benz', 79000, 7],
       ['Mercedez Benz', 59000, 5]], dtype=object)

In [28]:
# df_dummies = pd.get_dummies(new_features,columns=["car model"],prefix="",prefix_sep="")

In [10]:
# df_dummies

    mileage  age  Audi  BMW X5  Mercedez Benz
0     69000    6     0       1              0
1     35000    3     0       1              0
2     57000    5     0       1              0
3     22500    2     0       1              0
4     46000    4     0       1              0
5     59000    5     1       0              0
6     52000    5     1       0              0
7     72000    6     1       0              0
8     91000    8     1       0              0
9     67000    6     0       0              1
10    83000    7     0       0              1
11    79000    7     0       0              1
12    59000    5     0       0              1

In [29]:
my_feature = features.copy()
my_feature

array([['BMW X5', 69000, 6],
       ['BMW X5', 35000, 3],
       ['BMW X5', 57000, 5],
       ['BMW X5', 22500, 2],
       ['BMW X5', 46000, 4],
       ['Audi', 59000, 5],
       ['Audi', 52000, 5],
       ['Audi', 72000, 6],
       ['Audi', 91000, 8],
       ['Mercedez Benz', 67000, 6],
       ['Mercedez Benz', 83000, 7],
       ['Mercedez Benz', 79000, 7],
       ['Mercedez Benz', 59000, 5]], dtype=object)

In [31]:
my_feature = one_hot_encoder.fit_transform(my_feature).toarray()

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).