In [1]:
import numpy as np
import pandas as pd

# df.append()

In [10]:
# Create first Dataframe using dictionary   
info1 = pd.DataFrame({"x":[25,15,12,19],   
                    "y":[47, 24, 17, 29]})     
# Create second Dataframe using dictionary   
info2 = pd.DataFrame({"x":[25, 15, 12],   
                    "y":[47, 24, 17],    
                    "z":[38, 12, 45]})   
# append info2 at end in info1   
info1.append(info2, ignore_index = True)

    x   y     z
0  25  47   NaN
1  15  24   NaN
2  12  17   NaN
3  19  29   NaN
4  25  47  38.0
5  15  24  12.0
6  12  17  45.0