In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# series(data,index,dtype,copy)
# Creating series using array

In [2]:
info = np.array(['alamin','tania', 'mim','fatema','mahjabin'])
my_series = pd.Series(info)
my_series

0      alamin
1       tania
2         mim
3      fatema
4    mahjabin
dtype: object

In [3]:
my_series.dtype

dtype('O')

In [4]:
info2 = {'x' : 0., 'y' : 1., 'z' : 2.}
my_series2 = pd.Series(info2)
my_series2

x    0.0
y    1.0
z    2.0
dtype: float64

In [5]:
my_series2.dtype

dtype('float64')

# Create a Series using Scalar

In [6]:
x = pd.Series(4, index=[0, 1, 2, 3])  
print (x)

0    4
1    4
2    4
3    4
dtype: int64

In [7]:
y = pd.Series([1,2,3,4],index=['a','b','c','d'])
y

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
y[0]

1

In [9]:
y[3]

4

<!-- Attributes	Description
Series.index	Defines the index of the Series.
Series.shape	It returns a tuple of shape of the data.
Series.dtype	It returns the data type of the data.
Series.size	It returns the size of the data.
Series.empty	It returns True if Series object is empty, otherwise returns false.
Series.hasnans	It returns True if there are any NaN values, otherwise returns false.
Series.nbytes	It returns the number of bytes in the data.
Series.ndim	It returns the number of dimensions in the data.
Series.itemsize	It returns the size of the datatype of item. -->

#Attributes	Description
#Series.index->	Defines the index of the Series.
#Series.shape->	It returns a tuple of shape of the data.
#Series.dtype->	It returns the data type of the data.
#Series.size->	It returns the size of the data.
#Series.empty->	It returns True if Series object is empty, otherwise returns false.
#Series.hasnans->	It returns True if there are any NaN values, otherwise returns false.
#Series.nbytes->	It returns the number of bytes in the data.
#Series.ndim->	It returns the number of dimensions in the data.
#Series.itemsize->	It returns the size of the datatype of item.

In [10]:
y.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
y.shape

(4,)

In [12]:
y.size

4

In [13]:
y.empty

False

In [14]:
y.hasnans

False

In [15]:
y.nbytes

32

In [16]:

y.ndim

1

In [17]:
a=pd.Series(data=[2,4,6,8])   
b=pd.Series(data=[11.2,18.6,22.5], index=['a','b','c'])   
print(a.index)   
print(a.values)
print(a.size)
print(a.ndim)
print(a.count())
print(a.dtype)
print('\n')
print(b.index)   
print(b.values) 
print(b.size)
print(b.ndim)
print(b.count())

RangeIndex(start=0, stop=4, step=1)
[2 4 6 8]
4
1
4
int64


Index(['a', 'b', 'c'], dtype='object')
[11.2 18.6 22.5]
3
1
3

# Series.map()

In [18]:
a = pd.Series(['Java', 'C', 'C++', np.nan])  
a.map({'Java': 'Core'})  
a.map('I like {}'.format, na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

# Series.std()

In [21]:
first = np.std([4,7,2,1,6,3])
second = np.std([6,9,15,2,-17,15,4])
print(first)
print(second)

2.1147629234082532
10.077252622027656

In [22]:
info2 = {  
    'Name':['Parker','Smith','John','William'],  
   'sub1_Marks':[52,38,42,37],  
   'sub2_Marks':[41,35,29,36]}   
data = pd.DataFrame(info2)  
data

      Name  sub1_Marks  sub2_Marks
0   Parker          52          41
1    Smith          38          35
2     John          42          29
3  William          37          36

In [23]:
data.std()

sub1_Marks    6.849574
sub2_Marks    4.924429
dtype: float64

#The Pandas Series.to_frame() function is used to convert the series object to the DataFrame.

In [24]:
s = pd.Series(['a','b','c'],name="value")
s.to_frame()

  value
0     a
1     b
2     c

In [25]:
emp = ['Parker', 'John', 'Smith', 'William']   
id = [102, 107, 109, 114]     
emp_series = pd.Series(emp)   
id_series = pd.Series(id)     
frame = { 'Emp': emp_series, 'ID': id_series }   
result = pd.DataFrame(frame)     
print(result)

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

# series.unique()

In [26]:
pd.unique(pd.Series([2, 1, 3, 3]))  
pd.unique(pd.Series([pd.Timestamp('20160101'),  
pd.Timestamp('20160101')]))

array(['2016-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [27]:
pd.unique(pd.Index([pd.Timestamp('20160101', tz='US/Eastern'),  
pd.Timestamp('20160101', tz='US/Eastern')]))

DatetimeIndex(['2016-01-01 00:00:00-05:00'], dtype='datetime64[ns, US/Eastern]', freq=None)

# Series.value_counts()

In [28]:
index = pd.Index([2,1,1,np.nan,3])
index.value_counts()

1.0    2
3.0    1
2.0    1
dtype: int64